In [6]:
import pandas as pd

In [7]:
#Importacion csv!
data=pd.read_csv("C:/Users/Lay/Documents/archivos/Docencia/Universidad Nacional de Ingenieria/7. Clase/Data Adquisition/Datasets/data.csv", sep = "|")
data

,Age,Sex,ID,Race,Country,Education,Education-Num,Marital Status,Relationship
0,39.0,Male,49084,White,United-States,Bachelors,13.0,Never-married,Not-in-family
1,50.0,Male,68553,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
2,38.0,Male,143654,White,United-States,HS-grad,9.0,Divorced,Not-in-family
3,53.0,Male,41510,Black,United-States,11th,7.0,Married-civ-spouse,Husband
4,28.0,Female,195025,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife
...,...,...,...,...,...,...,...,...,...
48838,39.0,Female,735617153,White,United-States,Bachelors,13.0,Divorced,Not-in-family
48839,64.0,Male,1131807446,Black,United-States,HS-grad,9.0,Widowed,Other-relative
48840,38.0,Male,781422087,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
48841,44.0,Male,161771296,Asian-Pac-Islander,United-States,Bachelors,13.0,Divorced,Own-child
48842,35.0,Male,1344995623,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband

In [8]:
#Importacion de un excel!
data_excel = pd.read_excel("C:/Users/Lay/Documents/archivos/Docencia/Universidad Nacional de Ingenieria/7. Clase/Data Adquisition/Datasets/data.xlsx")
data_excel

,Age,Sex,ID,Race,Country,Education,Education-Num,Marital Status,Relationship
0,39.0,Male,49084,White,United-States,Bachelors,13.0,Never-married,Not-in-family
1,50.0,Male,68553,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
2,38.0,Male,143654,White,United-States,HS-grad,9.0,Divorced,Not-in-family
3,53.0,Male,41510,Black,United-States,11th,7.0,Married-civ-spouse,Husband
4,28.0,Female,195025,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife
...,...,...,...,...,...,...,...,...,...
48838,39.0,Female,735617153,White,United-States,Bachelors,13.0,Divorced,Not-in-family
48839,64.0,Male,1131807446,Black,United-States,HS-grad,9.0,Widowed,Other-relative
48840,38.0,Male,781422087,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
48841,44.0,Male,161771296,Asian-Pac-Islander,United-States,Bachelors,13.0,Divorced,Own-child
48842,35.0,Male,1344995623,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband

In [9]:
#Importacion de un txt!
with open("C:/Users/Lay/Documents/archivos/Docencia/Universidad Nacional de Ingenieria/7. Clase/Data Adquisition/Datasets/encuesta.txt","r") as archivo:
    for linea in archivo:
        print(linea)

                        ID            asistio             Tarea    Comportamiento      Pago

cef3615d61b202f1dc794ef2746df14        1                     1.0              0.0             si

323e5a13644d18185c743c241407754        0                     0.0              NaN             no

b29a107e5cd062e654a63764157461d        0                     0.0              NaN             no

04a11e4bcb573a1261eb0d9948d32637       1                     0.0              0.0             si

9368291c3d5d5f5c8cdb1a575e18bec        1                     0.0              0.0             si

dd0e77eab270e4b67c19b0d6bbf621b        0                     0.0              NaN             no

7599c0aa419b59fd11ffede98a3665d        0                     0.0              NaN             si

6dff182b452487f07a47596f314bddc        0                     1.0              NaN             si

9dc233fed1c6eb2432672ab4bb39249        0                     0.0              NaN             no

265fa78a1fb2409ff5416aec3c4f950d       1                     0.0              0.0             si

3b461f95fe50be35b927c255b3f7dc3a        1                     1.0              1.0            no

e786f1288887afb309eb913d28ffd6b0        1                     0.0              0.0            si

10c74fd18bddfb3e26c1878a853e7f8        1                     0.0              0.0             si

13b67c51d575bf29827debf0618b445        1                     0.0              0.0             si

1f641566628797bf0f811701e818b2c        1                     1.0              0.0             si

1ae10dc0d6fed06e8954af5f313cedf1        0                     0.0              NaN            si

7dfbad6a32c7477604dea655327f20a2        0                     0.0              NaN            si

b953218838a2f7057ec179cae0cf83ad        1                     0.0              1.0            si

87fcfe4315ee8a3fb554d8bf608cb2ac        1                     0.0              0.0            si

9b4935e514bdc9b66a35a085c229775c        1                     1.0              0.0            si

8cf2a0f6b368a4a42572f775df0f5f90        1                     1.0              1.0            no

b3d1716309461078c892edcd68db7d4c        1                     0.0              0.0            si

be38b0df499caf723af579aa6b173b0a        0                     1.0              NaN             no

97d2a0572f74acd8c4683ce7b72039db        1                     1.0              0.0            si

4bfe54e669aa8eaf4c9db1b809f3b511        0                     0.0              NaN            no

36f9d95975bfd2c89cfe75baca2d58d2        1                     0.0              0.0            si

e886db962a67fdf6cddbd4e85ea5d6e6        0                     1.0              NaN            si

212332278cfd07d49c4df986e6fbda1e        1                     1.0              0.0            si

fb120d2658407cbedfd9f1136c94ac61        1                     0.0              1.0            si

df891ef669fb23701f6622f14843bda2        0                     1.0              NaN            si

In [10]:
#Pickle!
import pickle
data_pickle= pd.read_pickle("C:/Users/Lay/Documents/archivos/Docencia/Universidad Nacional de Ingenieria/7. Clase/Data Adquisition/Datasets/data.pkl",compression ="gzip")
data_pickle

,Age,Sex,ID,Race,Country,Education,Education-Num,Marital Status,Relationship
0,39.0,Male,49084,White,United-States,Bachelors,13.0,Never-married,Not-in-family
1,50.0,Male,68553,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
2,38.0,Male,143654,White,United-States,HS-grad,9.0,Divorced,Not-in-family
3,53.0,Male,41510,Black,United-States,11th,7.0,Married-civ-spouse,Husband
4,28.0,Female,195025,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife
...,...,...,...,...,...,...,...,...,...
48838,39.0,Female,735617153,White,United-States,Bachelors,13.0,Divorced,Not-in-family
48839,64.0,Male,1131807446,Black,United-States,HS-grad,9.0,Widowed,Other-relative
48840,38.0,Male,781422087,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
48841,44.0,Male,161771296,Asian-Pac-Islander,United-States,Bachelors,13.0,Divorced,Own-child
48842,35.0,Male,1344995623,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband